{% extends "layout.html" %} {% block content %}

<div class="container">
    <div class="text-center my-5">
        <h1>Publicaciones</h1>
        <hr />
    </div>
</div>

<div class="row">
    {% for post in posts %}
    <!-- columas de posteos  -->
    <div class="col-lg-4 col-md-6 col-sm-12" ">
        <div class="card mb-5 shadow-sm" style="background-color: #fefae0;">
            <img class="img-fluid" src="{{post.image.url}}" alt="{{post.title}}" />
            <div class="card-body" >
                <p>{{post.date|date:'M d Y'}}</p>
                <div class="card-title">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="card-text">
                    <p>{{post.description|striptags|truncatechars:150}}</p>
                    <a class="btn btn-p" href="{% url 'blog:post_detail' post.id  %}">Leer mas</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}  <!--  <h3>{{post.date}}</h3> -->
</div>

{% endblock content %}