@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.body{
    color:#283618 ;
    background-color: #fefae0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.btn-p{
    border-color: #283618 !important ; 
}

.btn-p:hover {
    background-color: #283618 !important ;
    color: #fefae0 !important ;
} 
.nav-p{
    background-color:#283618 !important ;
    color: #fefae0 ;
}

.card img{        
    height: 280px;
    }
    
.titulos{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}
.titulos h2{
    font-size: 50pt;
    font-weight: bolder;

}

.subtitulo{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 35px;
}
.subtitulo h3{
    font-size: 40pt;
    font-weight: bolder;
}
.contenedor {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 150px;
}

.contenedor p{
    font-size: 14pt;
}

.imgperfil{
    border-radius: 64px 96px 128px 32px;
    height: 250px;
    margin-right: 20px;
    
}

@media (max-width: 780px) {
    .contenedor {
    flex-direction: column;
    align-items: flex-start;
}
}


.tecnologias{
    margin-top: 50px;
}
.tecnologias img{
    height: 100px;
}

.tecnologias ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.tecnologias li {
    margin-right: 10px;
}

.tecnologias h4{
    margin-left: 40%;
    font-size: 30pt;
    margin-bottom: 70px;
    
}


@media (max-width: 768px) {
    .tecnologias ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .tecnologias li {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}