<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .footer {
            color: #fefae0;
            background-color: #283618;
            padding: 20px;
            text-align: center;
        }

        .footer p {
            margin-bottom: 5px;
        }

        .footer a {
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>

<body>

    <footer class="footer">
        <p>Todos los derechos reservados &copy; 2023 Nahuel Pablo Brunel</p>
        <a href="https://www.linkedin.com/in/tu_perfil_de_linkedin" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>LinkedIn
        </a>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>